@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #614e39, #dab36d);
}


main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a37c4f98;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BF9C5A;
    text-align: center;
    text-shadow: 1px 1px 2px #8f6d46c4;
}
h2 {
    color: #427F8C;
}
p {
    text-align: justify;
}