@charset "UTD-8";

/* Todas as demais mídias */

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessario */
        
    }
    main {
        border: 2px solid black;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    img#phone { display: none; }
    img#tv { display: none; }
    img#print { display: block; }
    img#tablet { display: none; }
    img#pc { display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none; }
    img#tv { display: none; }
    img#print { display: none; }
    img#tablet { display: block; }
    img#pc { display: none; }
}
@media screen and (min-width: 992px) and (max-width: 1200px) { /* PC */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none; }
    img#tv { display: none; }
    img#print { display: none; }
    img#tablet { display: none; }
    img#pc { display: block; }
}
@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 700px;
    }
    img#phone { display: none; }
    img#tv { display: block; }
    img#print { display: none; }
    img#tablet { display: none; }
    img#pc { display: none; }
}