@charset "UTF-8";

body{
            background-color: rgb(188, 202, 164);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(0, 4, 255);
            background-color: aquamarine;
        }
        h2{
            color: rgb(226, 43, 43);
        }
        p{
            text-align: justify;
        }