@charset "UTF-8";

/* 
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body {
    background-color: rgb(141, 207, 141);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(0, 68, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 59, 8);
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(16, 145, 16);
}

.basico {
    color: aquamarine;
}
.intermediario {
    color: coral;
}
.avancado {
    color: blue;
}
.destaque {
    background-color: rgb(255, 255, 0);
}